.button--primary {
    margin-top: 32px;
    background-color: $primary-color;
    color: $dark;
    padding: 16px 40px;
    border: none;
    border-radius: 32px;
    cursor: pointer;
    color: #fff;
  }